<!DOCTYPE html>
<html>
	<head>
		<title>Football!</title>
		<meta charset="utf-8" />

		<script src="../content/start.js"></script>
	</head>
	<body id="body">
		<header>
			<h1>Welcome To Football!</h1>
		</header>

		<section id="feed">

		</section>

		<footer>
			<h3>That's all folks!?.... <a onclick="app.feed.refresh()">Orrr refresh?</a></h3>
		</footer>

		<script type="text/javascript">
			window.onload = app.main();
		</script>
	</body>
</html>

<div id="sport-home-article">
	<img id="image" src="" />
	<h3 id="title"></h3>
	<p id="description"></p>
</div>