@model WebUI.Models.Base

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>@Model.Title</title>

		@Styles.Render("~/Content/css")
	</head>
	<body id="body">
		@{ Html.RenderPartial("~/Views/Shared/Partials/Header.cshtml", Model); }

		@RenderBody()

		@{ Html.RenderPartial("~/Views/Shared/Partials/Footer.cshtml"); }

		@Scripts.Render("~/bundles/javascript")
	</body>
</html>