@model WebUI.Models.Base

<header>
	<a class="category-list-btn" onclick="app.feed.showCategories()"></a>
	<a class="refresh-page-btn" onclick="app.feed.refresh()"></a>
	<h1>@Model.Title</h1>
</header>